.logo{
width: 200px;
height: 200px;
align-self: center!important;
top: 152px;
}

.motto{
  position: absolute;
left: 33.33%;
right: 33.33%;
top: 59.53%;
bottom: 36.72%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: 24px;
font-size: 20px;
text-align: center;
letter-spacing: -0.011em;

color: #4F374C;
}

.motto-details{
  position: absolute;
left: 25.28%;
right: 25.56%;
top: 63.44%;
bottom: 29.06%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 17px;
text-align: center;
letter-spacing: -0.0241176em;

color: #6B6B6B;
}