<ion-content>
  <div style="margin-top: 20%">
    <ion-img class="logo" src="src/assets/icon/logo.svg"></ion-img>
  </div>

  <div margin-top="50px">

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input [(ngModel)]="retype_password" type="password"></ion-input>
    </ion-item>
  </div>


  <!--<ion-button shape="round" color="primary" fill="outline">Log-in!</ion-button>-->
  <div style="height: 100%">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-button style="--background:#B2CE77;" (click)="onRegister()">Register</ion-button>
    </ion-fab>

  </div>


</ion-content>