<ion-content>
    <div style="margin-top: 20%">
        <ion-img class="logo" src="src/assets/icon/logo.svg"></ion-img>
    </div>

    <div margin-top="50px">

        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" type="password">Password</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" type="password">Confirm Password</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </div>


    <!--<ion-button shape="round" color="primary" fill="outline">Log-in!</ion-button>-->
    <div style="height: 100%">
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-button style="--background:#B2CE77;">Register</ion-button>
        </ion-fab>

    </div>


</ion-content>