.motto {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.011em;

  color: #4F374C;
}

.motto-details {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.0241176em;

  color: #6B6B6B;
}

.logo {
  width: 125px;
  height: 125px;
  margin: auto;
  display: block;
}

ion-grid {
  height: 100%;
}