<ion-content>
  <div style="margin-top: 50%">
    <ion-img style="width:200px;height:200px;width: auto;margin: auto;display: block;"
             src="src/assets/icon/logo.svg"></ion-img>
  </div>

  <p class="motto">Spot the fire!</p>
  <p class="motto-details">We must save our environment</p>

  <!--<ion-button shape="round" color="primary" fill="outline">Log-in!</ion-button>-->
  <div style="height: 0%">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-button style="--background:#B2CE77;">Log-in!</ion-button>
    </ion-fab>

  </div>
</ion-content>