<ion-content>
  <div style="height: 100%">
    <ion-grid justify-content-between class="flex column">
      <ion-row>
        <ion-col>
          <ion-img src="assets/icon/logo.svg" class="logo"></ion-img>
          <p class="motto">Spot the fire!</p>
          <p class="motto-details">We must save our environment</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button style="--background:#B2CE77;" routerLink="login">Log-in!</ion-button>
          <p>Don’t have an account? <a routerLink="register">Register here</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>