<ion-header>
  <ion-toolbar>
    <ion-title>
      Fire Squard
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="height: 100%" #content>
    <ion-fab margin-start margin-top vertical="top" horizontal="left" slot="fixed">
      <ion-fab-button>
        <ion-icon name="map"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab margin-end margin-top vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab margin-bottom vertical="bottom" horizontal="center" slot="fixed">
      <button firesquad (click)="onClick()">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list>

      </ion-fab-list>
    </ion-fab>
    <ion-img *ngIf="picture" [src]="picture"></ion-img>
  </div>

</ion-content>
