<ion-header>
    <ion-toolbar>
        <ion-title>
            Fire Squard
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div>
        <ion-img ></ion-img>
    </div>


    <div style="height: 100%">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="onClick()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-img *ngIf="picture" [src]="picture"></ion-img>
    </div>

</ion-content>
